# .gitignore for ESPHome, Home Assistant, and Visual Studio Code

*.tmp

# ESPHome
/build/
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.bin

# Home Assistant
*.db
*.log
./images/*.db

# Visual Studio Code
.vscode/
*.code-workspace
.history/
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace


# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/