#ESPHome
wifi_ssid: "wifi"
wifi_password: "password"
fallback_ap_password: "fallbackpass"
ota_password: "acbcacbbca"
api_password: "acbcacbacb"
api_key_password: "SwGW7thOAMDPtzt2NpN09owcSgsrAiyGl0XpBp230E0="
